body{
  background-color: black;
  --used: rgb(58, 58, 60);
  --place: #b59f3b;
  --match: green;
  text-align: center;
}

.guess td {
  border: 2px solid rgb(58,58,60);
  width: 64px;
  height: 64px;
  font-size: 32px;
  text-align: center;
}

table {
    margin: auto;
}

input.ng {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    width: 62px;
    height: 62px;
    font-family: sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;
}

.keyArea {
  max-width: 600px;
  min-width: 175px;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.attempts {
  color: white;
  text-align: center;
}

.letters {
    border-radius: 14px;
    width: 48px;
    height: 48px;
    margin: 3px;
    font-family: sans-serif;
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
    background-color: grey;
    float: left;
    color: white;
}

.match, .letters.match {
    background-color: var(--match);
}

.place, .letters.place {
    background-color: var(--place);
}

.letters.used {
    background-color: var(--used);
}

.letters span {
    margin: 0 auto;
    line-height: 48px;
}

.ui.inverted.black.segment {
    background-color: #1b1c1d!important;
    color: #fff!important;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #1b1c1d;
    color: rgba(255,255,255,.9);
}

.ui[class*="center aligned"].segment {
    text-align: center;
}

.ui.segment, .ui.segments .segment {
    font-size: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-radius: 25px;
    color: white;
    background-color: #121213;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #1a1a1b;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
